.arrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $color-blue;

    height: 0px;
    width: 0px;

    transition: all .3s ease;
}

.arrow-closed {
    transform: rotate(180deg);
}